<?xml version="1.0"?>
<minimmerflow version="1">
    <problem>
        <type>vortex_xy</type>
        <dimensions>3</dimensions>
        <time>
            <end>2</end>
        </time>
    </problem>
    <discretization>
        <space>
            <order>1</order>
            <nCells>32</nCells>
        </space>
        <time>
            <CFL>0.45</CFL>
        </time>
    </discretization>
</minimmerflow>
